<h1>Articles</h1>

<h2>Joins</h2>
<table border='1'>
  <tr>
    <td>Id</td>
    <td>title</td>
    <td>body</td>
    <td>created_at</td>
    <td>updated_at</td>
  </tr>
  <% @articles.joins(:comments).to_a.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td><%= record.title %></td>
      <td><%= record.body %></td>
      <td><%= record.created_at %></td>
      <td><%= record.updated_at %></td>
    </tr>
  <% end %>
</table>

<h2>Preload</h2>
<table border='1'>
  <tr>
    <td>Id</td>
    <td>title</td>
    <td>body</td>
    <td>created_at</td>
    <td>updated_at</td>
  </tr>
  <% @articles.preload(:comments).to_a.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td><%= record.title %></td>
      <td><%= record.body %></td>
      <td><%= record.created_at %></td>
      <td><%= record.updated_at %></td>
    </tr>
  <% end %>
</table>

<h2>Eager load</h2>
<table border='1'>
  <tr>
    <td>Id</td>
    <td>title</td>
    <td>body</td>
    <td>created_at</td>
    <td>updated_at</td>
  </tr>
  <% @articles.eager_load(:comments).to_a.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td><%= record.title %></td>
      <td><%= record.body %></td>
      <td><%= record.created_at %></td>
      <td><%= record.updated_at %></td>
    </tr>
  <% end %>
</table>

<ul>
  <% @articles.each do |article| %>
    <li>
      <b><%= link_to "#{article.title} ▻", article %></b>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
