<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>

<% if(@article.comments.length > 0) %>
  <h2>Comments</h2>
  <%= render @article.comments %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
