/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 50px; */
  background-color: rgb(148, 160, 187);
}

h1{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

a{
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(247, 206, 255);
}
label:after{
  content: ':';
}
input{
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  
}

textarea{
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid black;
  outline: none;
}
input[type='submit']{
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(255, 252, 206);
  cursor: pointer;
}

ul a{
  /* text-decoration:underline; */
  background-color: rgb(212, 255, 206);
  border: none;
  /* padding: 0; */
}

.comment{
  border: 1px solid black;
  background-color: #eefbff;
  width: 50%;
  padding: 20px;
}

.comment p{
  padding: 10px 0;
}